---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <!-- Add your custom header text below -->
  <div style="text-align:left; margin-left:5em; margin-top:5em;">
    Theo Gibbs <br>
    Schmidt Science Fellow and Postdoctoral Researcher <br>
    New York University
  </div>
    {% include head.html %}
    {% include head/custom.html %}
  </div>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
